<div class="container">
    <div *ngIf="clientInstancesToRender.length == 0">
        <app-loadinganimation></app-loadinganimation>
    </div>
    
    <div *ngIf="clientInstancesToRender.length > 0">
        <form>
            <div class="d-flex justify-space-between p-2">
                <div class="form-group form-inline" style="width: 100%;">
                    <input class="form-control ml-2" type="text" [formControl]="filter" placeholder="Suchen..."/>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Detektoren</th>
                    <th scope="col">Logs</th>
                    <th scope="col">Simulator</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clientInstance of clientInstancesToRender; index as i">
                    <td><ngb-highlight [result]="clientInstance.identifier" [term]="filter.value"></ngb-highlight></td>
                    <td><a href="clientInstances/{{clientInstance.id}}/detectors">{{clientInstance.detectorCount}}</a></td>
                    <td>{{clientInstance.measurementLogCount}}</td>
                    <td><button class="btn btn-success" (click)="navigateToSimulation(clientInstance.id)"><i class="bi bi-backspace-reverse"></i></button></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="filteredClientInstances.length" [(page)]="page" [pageSize]="pageSize"
                [maxSize]="5" (pageChange)="changePage()">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="changePage()">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
            </select>
        </div>
    </div>
</div>