<div class="modal-header">
    <h4 class="modal-title">Edit Detector</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form>
        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput [formControl]="name" placeholder="name">
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Measurementname</mat-label>
                    <input type="text" matInput [formControl]="name" placeholder="Measurementname">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Minimaler Wert</mat-label>
                    <input type="number" matInput [formControl]="minValue" placeholder="0">
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Maximaler Wert</mat-label>
                    <input type="number" matInput [formControl]="maxValue" placeholder="100">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Detector Interval</mat-label>
                    <input type="number" matInput [formControl]="detectorInterval" placeholder="10">
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label># letzte Messungen</mat-label>
                    <input type="number" matInput [formControl]="lastMeasures" placeholder="100">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Startzeitpunkt</mat-label>
                    <input type="number" matInput [formControl]="fromTime" placeholder="">
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Endzeitpunkt</mat-label>
                    <input type="number" matInput [formControl]="untilTime" placeholder="">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Maximale Ausreißer</mat-label>
                    <input type="number" matInput [formControl]="maxOutLiers" placeholder="5">
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>List Operation</mat-label>
                    <input type="number" matInput [formControl]="listOperation" placeholder="">
                </mat-form-field>
            </div>
        </div>
        <!-- <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">Please enter a valid email address</mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">Email is<strong>required</strong></mat-error>
        </mat-form-field> -->

      </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>